<h3>Infected</h3>
<p>{{ data.confirmed | number }}</p>
<p>{{ data.lastupdate | date: "longDate" }}</p>

<h3>RECOVERED</h3>
<p>{{ data.recovered | number }}</p>
<p>{{ data.lastupdate | date }}</p>

<h3>DEATHS</h3>
<p>{{ data.deaths | number }}</p>
<p>{{ data.lastupdate | date: "longDate" }}</p>

<form>
  <div class="form-gruop">
    <select class="form-control" name="" id="country">
      <option selected value="global">Global</option>
      <option *ngFor="let country of countries" value="{{ country }}">
        {{ country }}
      </option>
    </select>
  </div>
</form>

<section>
  <canvas *ngIf="global" baseChart [datasets]="lineChartData" [labels]="lineChartLabeles">
  </canvas>

  <canvas *ngIf="!global" baseChart [datasets]="barChartData" [labels]="barChartLabels">

  </canvas>
</section>
